@import "global";
@import "mobile";
@import "../../vendor/font-awsome/scss/font-awesome";
@import "../../vendor/foundation/scss/foundation/components/grid";
@import "../../vendor/foundation/scss/foundation/components/global";
@import "../../vendor/foundation/scss/foundation/components/type";
@import "../../vendor/foundation/scss/foundation/components/visibility";
@import "../../vendor/foundation/scss/foundation/components/buttons";
@import "../../vendor/foundation/scss/foundation/components/forms";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'PT Sans', sans-serif;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: url("../img/paisaje.jpg") fixed center;
  background-size: 100%;
  overflow: scroll;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu_item {
  margin-right: 20px;
  margin-left: 20px;
}

.menu_item_scrolled {
  margin-right: 16px;
  margin-left: 16px;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  line-height: 80px;
  height: 120px;
  padding-top: 20px;
  padding-left: 30px;
  background: $black;
  color: rgba(222, 222, 222, 0.41);
  font-size: 1em;
  .language_selector {
    text-align: right;
    -moz-appearance: none;
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    color: white;
    background-color: $black;
    text-align: right;
    font-weight: lighter;
    font-size: .7em;
    border: none;
    letter-spacing: 2px;
    height: 35px;
    line-height: 1em;
    padding: 0px;
    option {
      font-weight: normal;
    }
  }
  a {

    overflow: hidden;
    color: white;
    font-weight: 500;
    :hover {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;

      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transform: rotate(200deg);
      -moz-transform: rotate(200deg);
      -o-transform: rotate(200deg);
      color: white;

    }
    &:hover, :visited, &:visited {
      color: white;
      text-decoration: underline;
    }
    &:active, :active {
      color: $technogi-orange;
    }

  }
  img {
    margin-top: 10px;
    height: 60px;
    -webkit-transition: all $transition-time ease;
    transition: all $transition-time ease;
  }

  .logo {
    cursor: pointer;
  }

  .lang_select_div{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 95px;
    right:2px;
    -webkit-transition: all $transition-time ease;
    transition: all $transition-time ease;
    height: 80px;
    overflow: hidden;

  }

  // set animation
  -webkit-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

header.sticky {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2px;
  font-size: .8em;
  line-height: 48px;
  height: 48px;
  background: $black;
  text-align: left;
  padding-left: 2px;
  img {
    height: 35px;
    padding-bottom: 5px;
  }
  .lang_select_div{
    width: 0px;
    button{

    }
  }

}

#main {
  width: 100vw;
}

$technogi-orange-bg: rgba(235, 104, 17, 0.90);

#main_container {
  background: url('../img/cubes_@2X.png') repeat;
  //background: url('../img/white_sand.png') repeat;
}

#main_content {
  background: $technogi-orange-bg;

  height: 70vh;

  padding-top: 40vh;
  text-align: center;
  h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
  }
  h2 {
    font-size: 1.5em;
    color: $black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
  }
  -webkit-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

.show_up {
  -ms-transform: translate(0px, 140px);
  -webkit-transform: translate(0px, 140px);
  transform: translate(0px, 210px);
}

.service_btn {
  margin-top: 20px;
  display: none;
}

#main_content_footer {
  background-color: $technogi-orange-bg;
  text-align: center;
  color: white;
  font-size: 1em;
  padding-bottom: 40px;
  min-height: 30vh;
  .technogi_panel {

    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    p.service_description {
      -webkit-transition: all $transition-time ease;
      transition: all $transition-time ease;

      color: rgba(255, 255, 255, 0);

      overflow: hidden;
      padding: 12px;
      padding-top: 10px;
      line-height: 1.13em;
      position: absolute;
      //text-align: justify;
      font-size: .85em;
      font-weight: 210;
      height: 210px;
      top: -210px;
      left: 0px;
      border-radius: 3px;
    }

  }
  p {
    color: $technogi-orange;
  }
  h1 {
    color: transparentize($technogi-orange, 1);
    font-size: 2em;
  }
  h2 {
    margin-top: 30px;
    color: rgba(0, 63, 84, 0);
    font-size: 1.5em;
    font-style: italic;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    :hover {
      font-size: 1.5em;
    }
  }
  a {
    h3 {
      color: white;
    }
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    color: #eb6c1e;
    background-color: #f8f8f8;
    border: solid thin white;
    border-radius: 4px;
  }
  button:hover {
    background-color: rgba(30, 30, 30, 0);
    color: white;
  }
  -webkit-transition: all $transition-time ease-in-out;
  transition: all $transition-time ease-in-out;
}

#main_content_footer.scrolled {

  background: #ffffff;
  h1 {
    -webkit-transition: all $transition-time ease-in-out;
    transition: all $transition-time ease-in-out;
    color: $black;
    border-bottom: 1px solid $black;
    text-align: left;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 30px;

  }
  h2 {
    color: #003f54;
  }

  .technogi_panel {
    background-color: $technogi-orange;
    p.service_description {
      color: white;
      background-color: rgba(30, 30, 30, 0.8);

    }
  }

}

#why_us_pane {
  background-color: rgba(238, 136, 37, 0.99);
  color: #f6f6f6;

  margin-top: 0px;
  .content {
    background-color: rgba(238, 136, 37, 0.99);
    color: #f6f6f6;
    padding-top: 50px;
    min-height: 280px;
    border-bottom: 1px solid $black;
    border-top: 2px solid #606060;
  }

  .display {
    width: 100%;
    height: 220px;
    padding-top: 40px;
    text-align: right;

  }

  .display-element {
    margin: 30px;
    text-align: center;
    display: none;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    color: #f6f6f6;
  }

  h2 {
    font-size: 1.6em;
    color: #f6f6f6;
  }

  i {
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
  }
}

.philosophy_row {
  margin-top: 40px;
}

.philosophy_tile {
  padding: 20px;
  background-color: #444444;
  text-align: center;
  height: 280px;
  margin-bottom: 20px;

  p.description {
    height: 80px;
  }
}

.p_button {

  $bg: $primary-color;
  @include button($button-tny, $technogi-orange, false, true, false, false);
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
  background-color: $technogi-orange;
  :hover {
    background-color: lighten($technogi-orange, 20%);

  }
}

#how_we_do {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bg-gray;
  color: $text-gray;
  h1 {
    font-size: 2em;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid $technogi-orange;
    color: lighten($text-gray, 5%);
    margin-bottom: 10px;

  }

  h2 {

    font-size: 2em;
    color: lighten($text-gray, 15%);;
    :hover {
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;

      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      font-size: 1.2em;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
    i {
      background-color: $technogi-orange;
      border-radius: 50%;
      border: 10px solid $technogi-orange;
      width: 60px;
      height: 60px;
      padding-top: 5px;
    }
  }
  h3 {
    margin: 20px;
    font-size: 1.2em;
    color: lighten($text-gray, 10%);;

  }

  p {
    color: $text-gray;
    font-size: .8em;
    line-height: 1.5em;
  }
  hr {
    color: #eeeeee;;
    background-color: #eeeeee;
    height: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

.philosophy_desc {
  background-color: rgba(249, 146, 38, 0.73);
  border-radius: 4px;
  border: 20px solid rgba(246, 246, 246, 0.10);
  box-shadow: 10px 10px 5px rgba(33, 33, 33, 0.29);

  color: #f6f6f6;
  padding: 20px;
}

#contact_us {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(48, 48, 48, 0.85);

  .mail_contact{
    min-height: 450px;
  }
  #contact_form{
  }

  .email_sent{
    div{
      background-color: #e6e6e6;
      margin: 20px;
      padding: 10px;
      color: #363636;
      font-size: .6em;
      border: 1px solid $gray;
      border-radius: 10px;

    }
    display: none;
    font-size: 2em;
    color: $technogi-orange;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.0);
    padding-top: 30%;
    z-index: 100;
  }

  .sending_email {
    display: none;
    font-size: 2em;
    color: $technogi-orange;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.0);
    padding-top: 30%;
    z-index: 100;
  }

  h1 {
    background-color: $technogi-orange;
    color: $text-gray;
    font-size: 2em;
    margin-bottom: 20px;

    margin-top: 20px;
    padding: 8px;
  }
  h2 {
    font-size: 1.7em;
    color: lighten($text-gray, 18%);
    text-align: center;
  }
  h3 {
    font-size: 1em;
    color: lighten($technogi-orange, 5%);
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;

  }

  #contact_form_captcha_checkbox {

    background: $technogi-orange;

  }
  #contact_form_captcha {
    width: 100%;
    label {
      color: $technogi-orange;
      font-weight: 600;
    }
  }

  form {
    margin-top: 80px;
    margin-bottom: 60px;

  }
  input[type=email], input[type=text], textarea {
    background-color: lighten($technogi-orange, 10%);
    color: white;
    border: 2px solid $gray;
  }
  textarea {
    height: 100px;
  }
  button {
    background-color: $technogi-orange;
    color: white;
    font-weight: 600;
    &:hover {
      background-color: darken($technogi-orange, 8%);
    }
  }
}

$circle_length: 90px;
$circle_radius: 50%;

footer {

  background-color: #141414;
  color: rgba(225, 225, 225, 0.80);
  padding-bottom: 20px;
  font-weight: 400;
  font-size: .8em;
  a {
    color: $technogi-orange;
    &:hover {
      color: $technogi-orange;
      text-decoration: underline;
    }
  }
  .sub-footer {
    font-size: 1.15em;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $bg-gray;
    margin-bottom: 20px;
    color: $text-gray;
    font-weight: 100;
    line-height: 30px;
    min-height: 280px;
    text-align: justify;

  }
  .social-container {
    a {
      font-size: 2.2em;
      color: $text-gray;
      margin-left: 20px;
      :hover {
        color: $technogi-orange;
      }
    }
  }

}

.circle {
  border-radius: $circle_radius;
  width: $circle_length;
  height: $circle_length;
  background: $technogi-orange;
  padding-top: 20px;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  z-index: 10;
  height: 400px; /* your iframe height */
  top: 400px; /* your iframe height */
  margin-top: -400px; /* your iframe height */
}

@import "page";

