.fa-counter-spin {
  animation: spin-counter 2s infinite linear;
}
@-moz-keyframes spin-counter {
  0% {
  }
  100% {
  }
}
@-webkit-keyframes spin-counter {
  0% {
  }
  100% {
  }
}
@-o-keyframes spin-counter {
  0% {
  }
  100% {
  }
}
@-ms-keyframes spin-counter {
  0% {
  }
  100% {
  }
}
@keyframes spin-counter {
  0% {
    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(359deg);
  }
  100% {
    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
  }
}