$technogi-orange: #eb6c1e;
$transparent-technogi-orange: rgba(225, 99, 0, 0.3);
$dark-technogi-orange: #672100;
$black: #2c2c2c;
$gray: #5f5f5f;
$gray-light: #e3dfdc;
$transition-time: 0.5s;

$padding_color:rgba(255, 255, 255, 0.60);

::-webkit-input-placeholder {
  color: $padding_color;
  text-decoration: underline;

}

:-moz-placeholder { /* Firefox 18- */
  color: $padding_color;
  text-decoration: underline;

}

::-moz-placeholder {  /* Firefox 19+ */
  color: $padding_color;
  text-decoration: underline;

}

:-ms-input-placeholder {
  color: $padding_color;
  text-decoration: underline;
}