@import "global";

#page{
  padding-top: 40px;
  top:30px;
  width: 100vw;
  left: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  background-color: #ffffff;
  h1{
    color: $black;
    border-bottom: 2px solid $technogi-orange;

  }

  h2{
    color: $black;

  }
}

#page.show {
  -ms-transform: translate(-100vw, 0px);
  -webkit-transform: translate(-100vw, 0px);
  transform: translate(-100vw, 0px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

}