@import "global";

#page{
  padding-top: 40px;
  top:30px;
  width: 100vw;
  left: 100vw;
  height: 100vh;
  margin-bottom:100px;
  overflow: scroll;
  position: fixed;
  background-color: #ffffff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  .back{
    background-color: $technogi-orange; 
    width: 100%;
    height:53px;
    position:absolute;
    top:10px;
    line-height:58px;
    padding-left:20px;
    color:white;
    cursor:pointer;
    font-size:.9em;
  }
  .title-box{
    margin-top:15px;
    padding-bottom:15px;
    border-bottom: 3px solid $gray;
    #title{
      font-family: 'Lato', sans-serif;
      color: $black;
      font-size:2.5em;
      //letter-spacing:.1em;
      padding-bottom:10px;
      border-bottom: solid 3px $technogi-orange;
      display:inline;
    }
  }

  #subtitle{
    margin-top:10px;
    font-size:1.5em;
    color:$gray;
  }

  h3{
    font-size:2em;
    margin-top:15px;
    color:$technogi-orange;
    padding-left:0;
  }


  #description{
    //background-color:#fbfbfb;
    //border:solid thin #efefef;
    text-align: justify;
    line-height:1.5em;
    padding:20px;
    margin-top:10px;
    p{
      margin-top:15px;
      margin-bottom:20px;
      padding:20px;
    }
    //p
    p:first-of-type:first-letter {
      font-size: 2em;
      color: $technogi-orange;
    }

    h4{
      color:$gray;
      font-size: 1.5em;
      margin-top:20px;

    }
  }

  ul.numbered{
    counter-reset: li;
    li:before{
      content: counter(li);
      counter-increment: li;
    }
  }
  ul{
    list-style: none;
    *list-style: decimal;
    padding-left: 10px;
    margin-bottom: 4em;
    li{
      position: relative;
      display: block;
      padding: .2em .2em .2em .4em;
      margin: .5em 0 .5em 2.5em;
      color: #444;
      text-decoration: none;
      transition: all .3s ease-out;   
    } 
    li:hover{
      background-color:#f1f1f1;
      margin-left:2em;
    }
    li:before{
      left: -.5em;
      border-left-color: #f25d49;
    }
    li:after{
      position: absolute; 
      content: '';
      border: .3em solid transparent;
      left: -1em;
      top: 50%;
      margin-top: -.5em;
      transition: all .3s ease-out;  
    }
    li:hover:after{
      left: -.5em;
      border-left-color: #f25d49;
    }
  
  }  


   ul.table{
    list-style: none;
    *list-style: decimal;
    padding-left: 10px;
    margin-bottom: 4em;
    display:table;
    li{
      position: relative;
      display: inline-table;  
      padding:10px;
      border:solid thin #fafafa;
      color:white;
      border-radius:5px;
      margin:10px;
      width:30%;
      height:1.5em;
      line-height:1em;
      //margin: .5em 0 .5em 2.5em;
      //color: #444;
      text-decoration: none;
      transition: all .3s ease-out; 
      background-color:transparentize($technogi-orange,.2);  
    } 
    li:hover{
      background-color:#f1f1f1;
      margin-left:2em;
    }
    
  
  } 

  
}



#page.show {
  -ms-transform: translate(-100vw, 0px);
  -webkit-transform: translate(-100vw, 0px);
  transform: translate(-100vw, 0px);
  

}