<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Aviso de Privacidad</title>
  <style>
    h1{
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Aviso de privacidad</h1>

<p><em>TECHNOGI DESARROLLO Y CONSULTORÍA DE SOFTWARE S. DE RL DE C.V.</em>, comercialmente conocida como <em>“TECHNOGI”</em>, de ahora en adelante <em>“TECHNOGI”</em>, con domicilio en Avenida Ciudad Universitaria 286, piso 1, Colonia Jardines del Pedregal, Delegación Álvaro Obregón, Ciudad de México, Distrito Federal, Código Postal 01900, es responsable de la recolección y tratamiento de los datos personales, en los términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. </p>
      
      <p>Por lo anterior le comunicamos:</p>
      
      <h2>¿Para qué utilizaremos sus datos personales?</h2>
      
      <p>La información que usted nos proporcione será utilizada con las siguientes finalidades primarias:</p>
      <ul>
        <li>1.	Confección, diseño y elaboración de los servicios y productos que se han solicitado.</li>
        <li>2.	Elaboración de cotizaciones.</li>
        <li>3.	Elaboración de propuestas de negocio.</li>
        <li>4.	Seguimiento a los servicios proporcionados.</li>
        <li>5.	Evaluación de nuestros servicios.</li>
        <li>6.	Dar cumplimiento y mantenimiento a las obligaciones contractuales que deriven de nuestra relación.</li>
      </ul>
      
      <p>Así mismo, podremos utilizar sus datos personales para las siguientes finalidades secundarias, y que no son necesarias para prestarle el servicio o producto de interés o solicitado:</p>
      
      <ul><li>1.	Remitir información sobre nuevos productos o servicios.</li></ul>
      
      <p>En caso de que, usted no desee recibir esté tipo de información, puede oponer a que <em>TECHNOGI</em> de tratamiento a su información para tal finalidad, remitiendo un correo electrónico a la unidad de datos personales: protecciondatos@technogi.com.mx manifestando tal intención.  </p>
      
      <h2>¿Qué datos personales requerimos para lograr lo anterior?</h2>
      
      <p>Para los efectos anteriores, requerimos obtener los siguientes datos personales: </p>
      
      <h3>IDENTIFICATIVOS:</h3>
      <p>Nombre; Firma; Número de Credencial de Elector; Domicilio; Clave Única de Registro Poblacional (CURP), esto en el caso de que se encuentre incorporado dentro de la Credencial de Elector o en el Registro Federal de Contribuyentes; Lugar y fecha de nacimiento; Nacionalidad; Edad; Teléfono particular y  Número de Celular.</p>
      <p>En el caso de que sus datos personales sean recabados en un evento público, se recolectarán los siguientes datos identificativos:</p>
      <p>Nombre; teléfono particular o Número de Celular</p>
      
      
      <h3>ELECTRÓNICOS:</h3>
      <p>Correo electrónico; usuario; contraseña, estos dos últimos datos, sólo se emplearan en el caso de que se de seguimiento del servicio o proyecto contratado, por medio de JIRA o Confluence.</p>
      
      <h3>FISCAL:</h3>
      <p>Registro Federal de Contribuyentes; domicilio fiscal.</p>
      
      <h3>PATRIMONIALES:</h3>
      <p>CLABE Bancaria; monto de la operación o contrato; cotizaciones.</p>
      
      <p>Usted se puede oponer a que <em>TECHNOGI</em> de tratamiento a su información patrimonial, en específico al número de cuenta bancaria y/o CLABE bancaria, remitiendo un correo electrónico a unidad de datos personales: protecciondatos@technogi.com.mx manifestando tal intención; antes de que, se oponga a esas recolección y tratamiento, pregúntenos cuáles son las consecuencias del ejercicio de éste oposición.  </p>
      
      
      <h2>¿Cómo puedo controlar mis datos personales una vez que se los he entregado?</h2>
      
      <p>Usted puede ejercer en todo momento, en los términos y condiciones señaladas en la citada ley, <em>los derechos de acceso, rectificación, cancelación, así como, oponerse</em> (derechos ARCO) al tratamiento de los mismos; para lograr lo anterior, deberá:</p>
      
      
      
      <ul>
        <li>1.	Presentar su solicitud físicamente en la dirección señalada al inicio del presente aviso, o por medio del correo electrónico de nuestra unidad de datos personales: protecciondatos@technogi.com.mx</li>
        <li>
2.	La solicitud (física o electrónica) de <em>acceso, rectificación, cancelación y oposición</em> deberá señalar:
          <ul>
            <li>a.	Nombre del titular de los datos personales.</li>
            <li>b.	El domicilio o medio electrónico para comunicarle la respuesta a su solicitud.</li>
            <li>c.	¿Qué derecho estar ejercitando? Es decir, si se trata del derecho de acceso, o el de rectificación, o el de cancelación, o el de oposición.</li>
            <li>d.	La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos señalados en el inciso anterior.</li>
            <li>e.	En caso de que se trate del derecho de rectificación, deberá señalar, por lo menos, los datos personales que fueren incorrectos, o que se deseen actualizar.</li>
            <li>f.	En caso de que se trate del derecho de cancelación u oposición, deberá señalar, por lo menos, los datos personales sobre los que ejercita esos derechos, y algún dato o información por el que usted considere debe proceder esos derechos.</li>
            <li>g.	También podrá señalar cualquier elemento o documento que facilite la localización de los datos personales.</li>
            <li>h.	La forma en que se requiere la información: copia simple, documento electrónico u otro medio.</li>
          </ul>
        </li>
        <li>
          3.	Al ejercitar uno de los derechos <em>ARCO</em>, deberá acreditar ser el titular de la información que nos requiere, por medio de la Credencial para Votar, expedida por el Instituto Federal Electoral o el Instituto Nacional Electoral, o Pasaporte, o Cédula Profesional, o Cartilla Militar, la cual, deberá ser anexada a la solicitud y presentada, en su caso, al momento de que recoja la respuesta que recaiga a su solicitud.
        </li>
        <li>4.	El señalamiento de que se ha emitido una respuesta a su solicitud, será notificado en el medio señalado para tal efecto.</li>

        <li>5.	El plazo que tenemos para dar respuesta a su solicitud, es de 20 días contados a partir de su recepción, y en el supuesto de que la respuesta sea favorable a sus intereses, su entrega se realizará dentro de los 15 días siguientes; no se omite señalar que, estos plazos podrán ser ampliados, en los términos del artículo 36 de la LFPDPPP.</li>
      </ul>
      
      <p>
        No omitimos señalar que, usted también puede <em>revocar</em> su consentimiento que nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Para <em>revocar</em> su consentimiento deberá presentar su solicitud a través del siguiente correo electrónico dirigido a la unidad de datos personales: protecciondatos@technogi.com.mx observando para tal efecto, lo señalado en los incisos 1 al 5 del párrafo anterior.
      </p>
      
      <h2>¿Cómo puedo controlar mis datos personales una vez que se los he entregado?</h2>
      <p>Usted puede controlar el uso el uso o divulgación de sus datos personales, enviando un correo electrónico a la unidad de datos personales protecciondatos@technogi.com.mx, o bien presentando un escrito libre en la dirección señalada al inicio del presente Aviso de Privacidad, manifestando su deseo de que nosotros dejemos de dar uso o divulguemos sus datos personales. </p>
      <p>Para los efectos anteriores, deberá anexa copia simple de alguna de las identificaciones oficiales a las que se hace referencia en el inciso 3, del apartado anterior. </p>
      
      
      <h2>¿Por cuánto tiempo conservamos su información?</h2>
      <p>Los datos personales serán conservados en nuestros sistemas de datos personales por cinco años a partir de la fecha de que hubiere terminado nuestra relación, esto con el fin de dar cumplimiento a las acciones judiciales y/o fiscales que deriven de nuestra relación.</p>
      
      <h2>¿Ustedes pueden comunicar mis datos personales a terceros?</h2>
      <p>Sí, sus datos personales podrán ser comunicados o transferidos a: </p>
      
      <h3>I. SECTOR PÚBLICO</h3>
      <table>
        <tr><th>Institución</th> <th>Motivo</th></tr>
        <tr>
          <td>Servicio de Administración Tributaria. Secretaría de Hacienda y Crédito Público.</td>
          <td>Cumplimiento de las obligaciones fiscales y/o administrativas que derivan de nuestra relación contractual.</td>
        </tr>
        <tr><td colspan="2">Así como aquella autoridad que de manera fundada y motivada nos lo requiera en los términos del artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares</td></tr>
      </table>
      
      <p>Ahora bien, podremos hacer las siguientes remisiones a las personas físicas o jurídicas que se señalan a continuación, y que nos apoyan en el cumplimiento de nuestras actividades.</p>
      
      <h3>II. SECTOR PRIVADO</h3>
      
       <table>
        <tr><th>Institución</th><th>País</th> <th>Motivo</th></tr>
        <tr>
          <td>Grupo Financiero Banamex S.A. de C.V.</td>
          <td rowspan="2">México</td>
          <td rowspan="2">Pago de Honorarios, así como demás prestaciones económicas, que pudieran derivar de nuestra relación.</td>
        </tr>
         
         <tr>
          <td>Institución Integrante del Sistema Bancario Mexicano y legalmente autorizadas por la SHCP y la CNBV</td>
        </tr>
         
        <tr>
          <td>Atlassian (JIRA, Confluence)</td>
          <td>Australia</td>
          <td>Seguimiento de los proyectos contratados.</td>
        </tr>
        <tr>
          <td>Clutch Co</td>
          <td>EUA</td>
          <td>Medición de la satisfacción de nuestros clientes con relación a los servicios y productos ofrecidos previamente.</td>
        </tr>
         <tr>
          <td>Despachos contables, jurídicos y/o fiscales.</td>
          <td>México</td>
          <td>Coadyuven en el cumplimiento de las obligaciones fiscales que deriven de nuestra relación.</td>
        </tr>
      </table>
      
      <b>Obtención de datos personales por medio de www.technogi.com.mx</b>
      
      <p><em>TECHNOGI</em> obtiene de manera directa o indirecta diversos datos personales de usted, cuando ingresa a nuestra página <a href="www.technogi.com.mx">www.technogi.com.mx</a></p>
      
      
      
      <h3>I. INDIRECTA:</h3>
      
      <p>De manera indirecta cuando ingresa a nuestra página de internet, podemos obtener diversos datos que se encuentran aislados y que no son obtenidos con el fin de identificarlo, esos datos son el dominio empleado para ingresar a nuestra página de internet, las secciones de nuestra página ingresadas por nuestros visitantes, así como la geolocalización del equipo de cómputo, lo cual, tiene como propósito el poder comprender el comportamiento de nuestros usuarios, determinar el número de veces que es visitado nuestra página, y el promedio empleado por los usuarios al visitarnos. </p>
      
      <p>Para la obtención de dicha información disociada, empleamos diversas herramientas tecnológicas que pudieran estar implicando una transferencia. Esas herramientas son:</p>
      
      
      <ul>
        <li>1.	Google:
          <ul>
            <li>a.	Google Analytic <a href="www.google-analytic.com">www.google-analytic.com</a></li>
            <li>b.	Google fonts: <a href="fonts.googleapis.com">fonts.googleapis.com</a>; </li>
          </ul>
        </li>
      </ul>
      
      <p>Estás herramienta de Google nos permite la medición y análisis de la navegación en nuestra página de internet. En su navegador podrá observar 4 cookies de este servicio, las cuales, se trata de cookies propias, de sesión y de análisis. </p>
      
      <p>Usted encontrar más información al respecto e inhabilitar el uso de estas cookies en:</p>
      
      <p>Google Analytic: <a href="www.google.com/intl/es_ALL/analytics/learn/privacy.html">www.google.com/intl/es_ALL/analytics/learn/privacy.html</a> <br/>
        Google fonts: <a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a>
      </p>
      
      <ul><li><ul><li>c.	Google Maps: <a href="maps.googleapis.com">maps.googleapis.com</a>; <a href="mts0.googleapis.com">mts0.googleapis.com</a>; <a href="mts1.googleapis.com ">mts1.googleapis.com </a></li></ul></li></ul>
      
      <p>Nuestra página de internet utiliza el plugin de mapas de google, por medio del cual podrá desde está, trazar la ruta idónea para llegar a las oficinas de Technogi, por lo que, google podrá acceder a su IP, para geolocalizarlo.
      </p>
      
      <p>Usted encontrará más información al respecto e inhabilitar el uso de esa cookie en: <a href="www.google.com/intl/en/policies/privacy/">www.google.com/intl/en/policies/privacy/</a>
      </p>
      
      
      <h3>II. DIRECTA:</h3>
      <p>Usted puede proporcionar en nuestra sección de “Contáctanos” los siguientes datos personales: nombre y correo electrónico, los cuales, son almacenados en nuestros servidores, que se encuentran resguardados bajo los más estrictos estándares de seguridad contemplados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento.
      </p>
      
      <p>Cualquier modificación al presente Aviso de Privacidad, podrá consultarlo en el sitio de internet www.technogi.com.mx o por cualquier otro medio oral, impreso o electrónico que TECHNOGI considere idóneo para tal efecto. 
      </p>
      
      <p>Fecha de la última actualización: <b>16 de abril de 2015.</b></p>
</body>
</html>