<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Aviso de Privacidad</title>
  <style>
    h1{
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Aviso de privacidad</h1>

<p>
  <b>Technogi Desarrollo y Consultoría de Software S de RL de CV</b>, con domicilio en <b>Avenida Ciudad Universitaria
  #286 Piso 1, Colonia Jardines del Pedregal, Delegación Álvaro Obregón C.P. 01900</b> México D.F. es responsable de
  recabar sus datos personales, del uso que se le dé a los mismos y de su protección.
</p>


<p>
  Su información personal será utilizada para proveer los servicios y productos que ha solicitado, informarle sobre
  cambios en los mismos, recibir más información sobre nuestros servicios, recibir cotizaciones y propuestas de negocio.
  Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: Nombre Completo y Correo
  Electrónico, considerados como sensible según la Ley Federal de Protección de Datos Personales en Posesión de los
  Particulares.
</p>

<p>
  Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los
  mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos
  implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro
  departamento de datos personales en el Teléfono <b>59802999</b> y/o correo electrónico <a
    href="mailto:datospersonales@technogi.com.mx">datospersonales@technogi.com.mx </a> o visitar nuestra página de
  Internet <a href="http://www.technogi.com.mx">http://www.technogi.com.mx. </a>
</p>

<p>
  Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su
  consentimiento para ello.
</p>

<p>
  Si no desea que Technogi utilice sus datos personales, le pedimos que se abstenga de proporcionarlos, ya que el
  proporcionarlos implica que ha otorgado su consentimiento para el manejo de dicha información.
</p>

<p>
  Si usted desea dejar de recibir mensajes promocionales de nuestra parte puede solicitarlo a través de <a
    href="mailto:datospersonales@technogi.com.mx">datospersonales@technogi.com.mx </a> o al teléfono 5980 2999.
</p>

<p>
  Cualquier modificación a este aviso de privacidad podrá consultarla en <a
    href="http://www.technogi.com.mx/avisoprivacidad.html">http://www.technogi.com.mx/avisoprivacidad.html</a>.
</p>

<p>Fecha última actualización 01/01/2015</p>
</body>
</html>