<div class="subpage_info" id="cloud-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img  src="img/banners/cloud.jpg">

			<span class="icon fa fa-cloud fa-2x"></span> <br/>
			<h1 msg="pages.cloud.title"></h1>
			
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns" style="padding-top:60px;">
			<h2 msg="pages.cloud.subtitle"> </h2>
			<p msg="pages.cloud.description"></p>
		</div>
	</div>
	<div class="row gray">
		<div class="medium-12 columns">
				<h1 msg="pages.cloud.section_1.title"></h1>
				<h2 msg="pages.cloud.section_1.subtitle"></h2>
				<ul>
					<li msg="pages.cloud.section_1.list.infrastructure_cost"></li>
					<li msg="pages.cloud.section_1.list.best_cloud"></li>
					<li msg="pages.cloud.section_1.list.diagnose_apps"></li>
					<li msg="pages.cloud.section_1.list.adapt_apps"></li>
					<li msg="pages.cloud.section_1.list.migration"></li>
					<li msg="pages.cloud.section_1.list.support"></li>
				</ul>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1 msg="pages.cloud.process.title"></h1>
			<div class="row">
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1 msg="pages.cloud.process.diagnose.title"> </h1>
					<br/>
					<ul class="list">
						<li msg="pages.cloud.process.diagnose.list.l_1"></li>
						<li msg="pages.cloud.process.diagnose.list.l_2"></li>
						<li msg="pages.cloud.process.diagnose.list.l_3"></li>
						<li msg="pages.cloud.process.diagnose.list.l_4"></li>

					</ul>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1 msg="pages.cloud.process.analysis.title"> </h1><br/>
					<ul class="list">
						<li msg="pages.cloud.process.analysis.list.l_1"></li>
						<li msg="pages.cloud.process.analysis.list.l_1"></li>
					</ul>
				</div>
				<div class="medium-2 columns"></div>
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1 msg="pages.cloud.process.elect_provider.title"></h1><br/>
					<ul class="list">
						<li msg="pages.cloud.process.elect_provider.list.l_1"></li>
						<li msg="pages.cloud.process.elect_provider.list.l_2"></li>
						<li msg="pages.cloud.process.elect_provider.list.l_3"></li>
					</ul>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1 msg="pages.cloud.process.migrate.title"></h1><br/>
					<ul class="list">
						<li msg="pages.cloud.process.migrate.list.l_1"></li>
						<li msg="pages.cloud.process.migrate.list.l_2"></li>
					</ul>
				</div>
				<div class="medium-2 columns"></div>
			</div>
		</div>
	</div>
	<div class="row black" style="min-height:0;padding:50px;">
		<div class="medium-12 columns">
			<div class="row" style="min-height:0;padding-top:50px;padding-bottom:50px">
				<div class="medium-3 columns explicative-item">
                  <a href="http://www.rackspace.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span><img src="img/logos/rackspace.png">
				</div>
				<div class="medium-3 columns explicative-item">
                  <a href="http://www.heroku.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span><img src="img/logos/heroku.png">
				</div>
				<div class="medium-3 columns explicative-item">
                  <a href="http://aws.amazon.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span><img src="img/logos/aws.png">
				</div>
				<div class="medium-3 columns explicative-item">
                  <a href="http://azure.microsoft.com/" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span><img src="img/logos/azure.png">
				</div>
			</div>
			
		</div>
	</div>
		
</div>