<div class="subpage_info" id="cloud-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img src="img/test-images/project-forge.jpg">

			<h1><span class="icon fa fa-cloud fa-2x"></span><br/>
				Consultoría para la nube</h1>
			
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h2>Asesoría especializada para aprovechamiento de las capacidades que ofrece la nube. </h2>
			<p>
				Asesoría especializada para aprovechamiento de las capacidades que ofrece la nube. Diagnosticamos el nivel de madurez de tus aplicaciones para incorporarlas a la nube y te ayudamos a definir los pasos a seguir para comenzarla a utilizar.
			</p>
		</div>
	</div>
	<div class="row red">
		<div class="medium-12 columns">
				<h1>Nuestra especialidad es tu ventaja competitiva</h1>
				<h2>
					Nuestro equipo de expertos se enfoca en lo siguiente para lograr darte el mayor beneficio:
				</h2>
				<ul>
					<li>Reducción de costos de infraestructura.</li>
					<li>Elección de la mejor nube, basada en precio, requerimientos y soporte.</li>
					<li>Diagnóstico de aplicaciones (Validamos si las aplicaciones están preparadas para utilizar todo el potencial que ofrece la nube).</li>
					<li>Adaptación y modificación de aplicaciones para hacerlas compatibles con la nube.</li>
					<li>Acompañamiento en el proceso de migración.</li>
					<li>Soporte Post Instalación.</li>
				</ul>
		</div>
	</div>
	<div class="row gray">
		<div class="medium-12 columns">
			<h1>El Proceso</h1>
			<div class="row">
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1>Diagnóstico inicial. </h1>
					<br/>
					<ul class="list">
						<li>¿Tienes aplicaciones actualmente que quisieras subir a la nube?</li>
						<li>¿Quieres virtualizar aplicaciones existentes?</li>
						<li>¿Quieres centralizar tu operación?</li>
						<li>¿Necesitas Monitoreo de aplicaciones e infraestructura?</li>

					</ul>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1>Análisis de Madurez de aplicaciones existentes. </h1>
					<ul class="list">
						<li>¿Qué elementos tienes hoy en día?</li>
						<li>¿Tus aplicaciones tienen la arquitectura idónea para ser desplegadas en la nube?</li>
					</ul>
				</div>
				<div class="medium-2 columns"></div>
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1>Elección de proveedor ideal.</h1>
					<ul class="list">
						<li>¿Cuál es tu presupuesto?</li>
						<li>¿Qué tipo de servicio necesitas?</li>
						<li>¿Quieres hacer outsourcing del área de soporte?</li>
					</ul>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1>Migración de Aplicaciones.</h1>
					<ul class="list">
						<li>Preparamos tus aplicaciones para usar el potencial de la nube.</li>
						<li>Creamos un plan de migración para que tu operación no se interrumpa.</li>
					</ul>
				</div>
				<div class="medium-2 columns"></div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1>Trabajamos con los mejores proveedores de servicio</h1>
			<div class="row">
				<div class="medium-3 columns explicative-item">
					<h1>Rackspace </h1>
				</div>
				<div class="medium-3 columns explicative-item">
					<h1>AWS </h1>
				</div>
				<div class="medium-3 columns explicative-item">
					<h1>Heroku </h1>
				</div>
				<div class="medium-3 columns explicative-item">
					<h1>Azure</h1>
				</div>
			</div>
			
		</div>
	</div>
		
</div>