<div class="subpage_info" id="consulting-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img src="img/banners/consulting.jpg">

            <span class="icon fa fa-group fa-2x"></span> <br/>
			<h1 msg="pages.consulting.title"></h1>
			
		</div>
	</div>
	<div class="row white description">
		<div class="medium-12 columns">
			<h2 msg="pages.consulting.subtitle"> </h2>
			<p msg="pages.consulting.description"></p>
		</div>
	</div>
	<div class="row gray">
		<div class="medium-12 columns">
				<h1 msg="pages.consulting.section_1.title"></h1>
			<div style="margin-bottom:0;padding-bottom:0;" class="row">

				<div class="medium-6 columns list-item">
					<ul class="list right">
						<li msg="pages.consulting.section_1.list.workshops"></li>
						<li msg="pages.consulting.section_1.list.process_analysis"></li>
						<li msg="pages.consulting.section_1.list.project_admin"></li>
						<li msg="pages.consulting.section_1.list.documentation"></li>
						
						
					</ul>
				</div>
				<div class="medium-6 columns list-item">
					<ul class="list">
                        <li msg="pages.consulting.section_1.list.tech_training"></li>
						<li msg="pages.consulting.section_1.list.team_selection"></li>
						<li msg="pages.consulting.section_1.list.infrastructure_selection"></li>
						<li msg="pages.consulting.section_1.list.tech_support"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row white">
		<div class="medium-12 columns">
			<h1 msg="pages.consulting.benefits.title"></h1>
			<ul class="benefits">
				<li msg="pages.consulting.benefits.list.it_processes">&nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li msg="pages.consulting.benefits.list.focus_business"> &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li msg="pages.consulting.benefits.list.no_extra_cost"> &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li msg="pages.consulting.benefits.list.specialists"> &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
			</ul>

		</div>
	</div>

		
</div>