<div class="subpage_info" id="consulting-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img src="img/banners/consulting.jpg">

			<h1><span class="icon fa fa-group fa-2x"></span><br/>
				Consultoría en TI</h1>
			
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h2>Asesoría en el ciclo de implementación de soluciones de TI basadas en software.</h2>
			<p>
				Brindamos asesoría en el ciclo de implementación de soluciones de T.I. basadas en software, participando en los aspectos vitales de tu proyecto: planificación, levantamiento de requerimientos, diseño, desarrollo, pruebas, instalación y soporte post productivo.
			</p>
		</div>
	</div>
	<div class="row gray">
		<div class="medium-12 columns">
				<h1>¿Qué ofrecemos?</h1>
			<div style="margin-bottom:0;padding-bottom:0;" class="row">

				<div class="medium-6 columns list-item">
					<ul class="list">
						<li>Talleres para toma de requerimientos.</li>
						<li>Análisis y Mejora de Procesos.</li>
						<li>Administración de Proyectos.</li>
						<li>Documentación.</li>
						<li>Capacitación.</li>
						
					</ul>
				</div>
				<div class="medium-6 columns list-item">
					<ul class="list">
						<li>Selección de Equipo de Desarrollo.</li>
						<li>Selección de Infraestructura</li>
						<li>Soporte Técnico</li>
						<li>Aprovechamiento Tecnológico.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row white">
		<div class="medium-12 columns">
			<h1>Beneficios</h1>
			<ul>
				<li>Nos encargamos de los procesos de T.I. por TI&nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li>Te enfocas en tu negocio y nosotros en la solución que necesitas &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li>No incurres en costos de contratación de R.H. &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
				<li>Tienes a especialistas trabajando en las áreas donde necesitas soluciones &nbsp;&nbsp;<i class=" fa fa-check technogi-orange"></i></li>
			</ul>

		</div>
	</div>

		
</div>