<div class="subpage_info" id="methodology-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img src="img/test-images/project-forge.jpg">

      <h1><span class="icon fa fa-book fa-2x"></span><br/>
				Nuestra metodología</h1>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1>La metodología</h1>
      <p>
          Con las mejores prácticas del PMI y de las metodologías ágiles, hemos creado una forma de trabajo que estimula la productividad de nuestro equipo e incrementa la comunicación con el cliente, dándonos la combinación ideal de control, visibilidad y flexibilidad que todo proceso de desarrollo requiere. 
<br/><br/>
El resultado, 100% de clientes satisfechos y 100% de proyectos entregados en tiempo.


      </p>
    </div>
  </div>
  <div class="row black">
    <div class="medium-12 columns">
      <h1>¿Cómo?</h1>
      <div style="margin-bottom:0;padding-bottom:0;min-height:0;" class="row">
        <div class="medium-6 columns explicative-item">
          <p>Utilizamos las mejores prácticas del PMI y metodologías de desarrollo ágil. Con esto logramos tener células de desarrollo                autosuficientes que logran:</p>
          <ul>
            <li> Conocer al cliente de manera muy cercana.</li>
            <li>Mejora la comunicación.</li>
            <li>Aumenta la productividad.</li>
            <li>Menos riesgo.</li>
          </ul>
        </div>
        <div class="medium-6 columns explicative-item">
          <p> Minimizamos el riesgo, haciendo un análisis preliminar de la solución requerida, tratando de anticipar cualquier complicación. Este riesgo se mitiga:</p>
          <ul>
            <li>Realizando validaciones de viabilidad técnica.</li>
            <li>Levantamiento de requerimientos.</li>
            <li>Revisión de Procesos de negocio.</li>
            <li>Entrevistas con sponsors.</li>
          </ul>
        </div>
      </div>
      <p>Aun así sabemos que es difícil prever todas las complicaciones, por lo cual nos mantenemos flexibles al cambio. Aquí es donde entra la parte ágil, donde respondemos a las nuevas necesidades del proyecto, en tiempo real.</p>
				

    </div>
  </div>
  
  

</div>