<div class="subpage_info" id="methodology-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img class="invert" src="img/banners/methodology.png">

      
				<h1 style="padding-top:150px" msg="pages.methodology.title"></h1>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns" style="padding-top:10px;">
      <h2 msg="pages.methodology.subtitle"></h2>
      <p msg="pages.methodology.description"></p>
      <p msg="pages.methodology.description_2"></p>
    </div>
  </div>
  <div class="row black">
    <div class="medium-12 columns">
      <h1 msg="pages.methodology.section_1.title"></h1>
      <div style="margin-bottom:0;padding-bottom:0;padding-right:100px;padding-left:100px;min-height:0;" class="row">
        <div class="medium-6 columns explicative-item">
          <p msg="pages.methodology.section_1.p_1"></p>
          <ul class="list">
            <li msg="pages.methodology.section_1.list.close"> </li>
            <li msg="pages.methodology.section_1.list.communication"></li>
            <li msg="pages.methodology.section_1.list.productivity"></li>
            <li msg="pages.methodology.section_1.list.less_risk"></li>
          </ul>
        </div>
        <div class="medium-6 columns explicative-item">
          <p msg="pages.methodology.section_1.p_2"></p>
          <ul class="list">
            <li msg="pages.methodology.section_1.list.validate"></li>
            <li msg="pages.methodology.section_1.list.requirements"></li>
            <li msg="pages.methodology.section_1.list.process"></li>
            <li msg="pages.methodology.section_1.list.sponsors"></li>
          </ul>
        </div>
      </div>
      <p msg="pages.methodology.section_1.p_3"></p>

    </div>
  </div>
  
  

</div>