<div class="subpage_info" id="philosophy-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img class="blured" src="img/banners/philosophy.jpg">

      <h1><span class="icon fa fa-institution fa-2x"></span><br/>
				Nuestra filosofía</h1>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1>Nuestra filosofía</h1>
      <p>
          Nos caracterizamos por realizar investigación sobre nuevas tecnologías y formas de resolver los problemas. Llevamos los   resultados de la investigación a la práctica, creando productos propios que nos permitan entender la tecnología que día a día evoluciona en el mundo del software. Una vez que somos especialistas, implantamos las soluciones con nuestros clientes. Lo anterior nos permite proveer a nuestros clientes con un catálogo extenso de posibilidades para convertir sus ideas en soluciones.

      </p>
    </div>
  </div>
  <div class="row gray">
    <div class="medium-12 columns">
      <h1>¿Por qué surgió esta idea?</h1>
      <ul>
        <li>Somos apasionados por la nueva tecnología.</li>
        <li>Queremos demostrar que en nuestro país existe talento y puede crear soluciones de nivel mundial.</li>
        <li>Queremos utilizar la tecnología más reciente, de manera responsable y adecuada a cada proyecto.</li>
        <li>Nos encanta Innovar.</li>
        <li>Pensamos que mientras estemos más ocupados en innovar, daremos mejores herramientas a cada cliente.</li>
      </ul>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1>¿Qué logramos? </h1>
      <ul>
        <li>Nuestros clientes tienen más opciones para implementar sus sistemas.</li>
        <li>Todo el tiempo tenemos a un equipo talentoso y motivado trabajando en tus proyectos.</li>
        <li>Incrementar la vida útil de las soluciones que creamos.</li>
        <li>Aumento de Productividad.</li>
        <li>Equipos de trabajo estables a lo largo de la implementación de una solución.</li>
      </ul>
    </div>
  </div>
  

</div>