<div class="subpage_info" id="philosophy-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img class="blured" src="img/banners/philosophy.jpg">

      <span class="icon fa fa-institution fa-2x"></span> <br/>
			<h1 msg="pages.core.title" ></h1>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns" style="padding-top:60px;">
      <h2 msg="pages.core.subtitle"></h2>
      <p msg="pages.core.description">
          

      </p>
    </div>
  </div>
  <div class="row gray">
    <div class="medium-12 columns">
      <h1 msg="pages.core.section_1.title"></h1>
      <ul>
        <li msg="pages.core.section_1.list.passion"></li>
        <li msg="pages.core.section_1.list.local_talent"></li>
        <li msg="pages.core.section_1.list.technology"></li>
        <li msg="pages.core.section_1.list.innovation"></li>
        <li msg="pages.core.section_1.list.tools"></li>
      </ul>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1 msg="pages.core.section_2.title"></h1>
      <ul>
        <li msg="pages.core.section_2.list.options"></li>
        <li msg="pages.core.section_2.list.talent"></li>
        <li msg="pages.core.section_2.list.lifespan"></li>
        <li msg="pages.core.section_2.list.productivity"></li>
        <li msg="pages.core.section_2.list.stability"></li>
      </ul>
    </div>
  </div>
  

</div>