<div class="subpage_info" id="project_landing-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img class="semiinvert" src="img/banners/project_shaping.jpg">

			<span class="icon fa fa-th-large fa-2x"></span> <br/>
			<h1 msg="pages.project_shaping.title"></h1>
			
		</div>
	</div>
	<div class="row white description">
		<div class="medium-12 columns">
			<h2 msg="pages.project_shaping.subtitle"></h2>
			<p msg="pages.project_shaping.description"></p>
		</div>
	</div>
	<div class="row red">
		<div class="medium-12 columns">
				<h1 msg="pages.project_shaping.section_1.title"></h1>
			<div style="padding-bottom:0" class="row">
				<div class="medium-1 columns list-item"></div>
				<div class="small-6 medium-2 columns list-item">
					<center>
						<span class="icon fa fa-money"></span><br/>
						<span msg="pages.project_shaping.section_1.cost" class="text"></span>
					</center>
				</div>
				<div class="small-6 medium-2 columns list-item">
					<center>
						<span class="icon fa fa-calendar"></span><br/>
						<span msg="pages.project_shaping.section_1.time" class="text"></span>
					</center>
				</div>
				<div class="small-6 medium-2 columns list-item">
					<center>
						<span class="icon fa fa-users"></span><br/>
						<span msg="pages.project_shaping.section_1.outsource" class="text"></span>
					</center>
				</div>
				<div class="small-6 medium-2 columns list-item">
					<center>
						<span class="icon fa fa-thumbs-o-up"></span><br/>
						<span msg="pages.project_shaping.section_1.ambition" class="text"></span>
					</center>
				</div>
				<div class=" medium-2 columns list-item">
					<center>
						<span class="icon fa fa-compass"></span><br/>
						<span msg="pages.project_shaping.section_1.where_start" class="text"></span>
					</center>
				</div>
				<div class="medium-1 columns list-item"></div>
			</div>
			<h1 msg="pages.project_shaping.section_1.we_can_help" style="padding-top:0"></h1>
			<p msg="pages.project_shaping.section_1.p_1"></p>
		</div>
	</div>
	<div class="row gray">
		<div class="medium-12 columns">
			<h1 msg="pages.project_shaping.phases.title"></h1>
			<div class="row">
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1 msg="pages.project_shaping.phases.diagnose.title"> </h1>
					<p msg="pages.project_shaping.phases.diagnose.p"></p>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1 msg="pages.project_shaping.phases.requirements.title"></h1>
					<p msg="pages.project_shaping.phases.requirements.p"></p>
				</div>
				<div class="medium-2 columns"></div>
				<div class="medium-offset-2 medium-4 columns explicative-item">
					<h1 msg="pages.project_shaping.phases.analysis.title"> </h1>
					<p msg="pages.project_shaping.phases.analysis.p"></p>
				</div>
				<div class="medium-4 columns explicative-item">
					<h1 msg="pages.project_shaping.phases.design.title"> </h1>
					<p msg="pages.project_shaping.phases.design.p"></p>
				</div>
				<div class="medium-2 columns"></div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1 msg="pages.project_shaping.benefits.title"></h1>
			<ul class="benefits">
				<li msg="pages.project_shaping.benefits.list.validate" ></li>
				<li msg="pages.project_shaping.benefits.list.mitigate"></li>
				<li msg="pages.project_shaping.benefits.list.alternatives"></li>
				<li msg="pages.project_shaping.benefits.list.tools"></li>
				<li msg="pages.project_shaping.benefits.list.freedom"></li>
			</ul>

		</div>
	</div>

		
</div>