<div class="subpage_info" id="software_development-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img src="img/test-images/software-development.jpg">

			<h1><span class="icon fa fa-laptop fa-2x"></span><br/>
				Desarrollo de Software</h1>
			
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
				<h2>Creamos la arquitectura ideal y utilizamos la tecnología que más se adapte a sus necesidades.</h2>
			<p>
				 Desarrollamos aplicaciones web y móviles, realizamos integración de sistemas y creamos componentes de negocio. Nuestro proceso abierto de desarrollo, da visibilidad del avance real, costos, riesgos mitigados y calidad de cada pieza de software producida. 
			</p>
		</div>
	</div>
	<div class="row red">
		<div class="medium-12 columns">
				<h1>¿Qué ofrecemos?</h1>
			<div class="row">
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-link"></span><br/>
						<span class="text">Aplicaciones Web</span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-building"></span><br/>
						<span class="text">Aplicaciones Empresariales</span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-mobile"></span><br/>
						<span class="text">Aplicaciones Móviles</span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-sitemap"></span><br/>
						<span class="text">Integración de sistemas</span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-bar-chart"></span><br/>
						<span class="text">Creación de componentes de negocio</span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-link"></span><br/>
						<span class="text">Prototipos para demostraciones y valoraciones de ideas</span>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1>¿Cómo creamos nuestro software?</h1>
			<p>Tenemos un amplio portafolio de opciones. Nuestra filosofía nos permite descubrir tecnologías nuevas y volvernos expertos en poco tiempo, para ofrecerte soluciones innovadoras a la medida.</p>
			
			<p>Nuestros procesos de calidad automatizados nos permiten construir rápido y de manera segura, cuidando siempre que el software haga lo que necesitas que haga.</p>
			<p>Te damos visibilidad total y en tiempo real del avance del proyecto. 
			Toda pieza de software que elaboramos, es diseñada y supervisada por especialistas en desarrollo de software. </p>
		</div>
	</div>
	<div class="row gray" style="min-height:0;padding:50px;">
		<div class="medium-12 columns">
			<div class="row" style="min-height:0;padding:50px;">
				<div class=" medium-offset-1 medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-1 columns "></div>
				<div class=" medium-offset-1 medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-1 columns "></div>
			</div>
			<div class="row">
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play </h1>
				</div>
				<div class="medium-2 columns explicative-item">
					<h1>Play</h1>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1>Proyectos Destacados</h1>
			<ul>
				<li>Plataforma de telecomunicaciones en NodeJS, PHP y Javascript.</li>
				<li>Plataforma de Administración de Eventos en Grails y AngularJS.</li>
				<li>Infraestructura de Evaluación con servidores distribuidos y mecanismos de sincronización JAVA.</li>
				<li>Aplicación Móvil para evaluación con estándar QTI.</li>
				<li>Integración de servicios para plataforma de manejo de programas de lealtad.</li>
			</ul>

		</div>
	</div>
</div>