<div class="subpage_info" id="software_development-subpage">
	<div class="row image">
		<div class="medium-12 columns">
			
			<img  src="img/banners/software-development.jpg">

			<span class="icon fa fa-laptop fa-2x"></span> <br/>
			<h1 msg="pages.software_development.title"></h1>
			
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns" style="padding-top:60px;">
            <h2 msg="pages.software_development.subtitle"></h2>
			<p msg="pages.software_development.description"></p>
		</div>
	</div>
	<div class="row red">
		<div class="medium-12 columns">
				<h1 msg="pages.software_development.section_1.title"></h1>
			<div class="row">
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-code"></span><br/>
						<span msg="pages.software_development.section_1.web_app" class="text"></span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-building"></span><br/>
						<span msg="pages.software_development.section_1.business_app" class="text"></span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-mobile"></span><br/>
						<span msg="pages.software_development.section_1.mobile_app" class="text"></span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-sitemap"></span><br/>
						<span msg="pages.software_development.section_1.system_integration" class="text"></span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-bar-chart"></span><br/>
						<span msg="pages.software_development.section_1.business_components" class="text"></span>
					</center>
				</div>
				<div class="medium-4 columns list-item">
					<center>
						<span class="icon fa fa-link"></span><br/>
						<span msg="pages.software_development.section_1.prototypes" class="text"></span>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1 msg="pages.software_development.section_2.title"></h1>
			<p msg="pages.software_development.section_2.p_1"></p>
			
			<p msg="pages.software_development.section_2.p_2"></p>
			<p msg="pages.software_development.section_2.p_3"></p>
		</div>
	</div>
	<div class="row black" style="min-height:0;padding-top:50px;padding-bottom:50px">
		<div class="medium-12 columns">
			<div class="row" style="min-height:0;padding-top:50px;padding-bottom:50px">
				<div class="large-offset-1 medium-6 large-2 columns explicative-item">
                  <a href="http://www.java.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
                    <span class="helper"></span>
					<img src="img/logos/java.png">
				</div>
				<div class="medium-6 large-2 columns explicative-item">
                  <a href="http://www.scala-lang.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/scala.png">
				</div>
				<div class="medium-6 large-2 columns explicative-item">
                  <a href="http://www.w3schools.com/html/" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/html-css-js.png">
				</div>
				<div class="medium-6 large-2 columns explicative-item">
                  <a href="http://www.ruby-lang.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/ruby.png">
				</div>
                <div class="medium-6 large-2 columns explicative-item">
                  <a href="http://www.nodejs.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/nodejs.png">
				</div>
                <div class="large-1 columns">
				</div>
				
			</div>
			<div class="row" style="min-height:0;padding-top:50px;padding-bottom:50px">
				<div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.postgresql.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/postgresql.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.oracle.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/oracle.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.mysql.com" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img src="img/logos/mysql.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.microsoft.com/en-us/server-cloud/products/sql-server/" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/mssql.png">
				</div>
				
			</div>
			<div class="row" style="min-height:0;padding-top:50px;padding-bottom:50px">
				<div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.mongodb.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img   src="img/logos/mongodb.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.redis.io" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img   src="img/logos/redis.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.elasticsearch.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<img  src="img/logos/elasticsearch.png">
				</div>
                <div class="medium-6 large-3 columns explicative-item">
                  <a href="http://www.nosql-database.org" target="_blank" class="mask">
                    <span class="helper"></span>
                    <i class="fa fa-search"></i>
                  </a>
					<span class="helper"></span>
					<i class="fa fa-ellipsis-h fa-4x"></i>
                  
				</div>
				
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="medium-12 columns">
			<h1 msg="pages.software_development.projects.title"></h1>
			<ul>
				<li msg="pages.software_development.projects.nextplat"></li>
				<li msg="pages.software_development.projects.canifarma"></li>
				<li msg="pages.software_development.projects.ceneval"></li>
				<li msg="pages.software_development.projects.qti"></li>
				<li msg="pages.software_development.projects.ampersand"></li>
			</ul>

		</div>
	</div>
</div>