<div class="subpage_info" id="team-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img class="invertblur" src="img/banners/team.jpg">

      <h1><span class="icon fa fa-users fa-2x"></span><br/>
				Nuestro equipo</h1>

    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1>El equipo</h1>
      <p>
          Nuestro equipo está conformado por especialistas y profesionales con alto potencial que se han desempeñado en diversos ámbitos del desarrollo de soluciones de TI. Su compromiso, dedicación y constante deseo por innovar, hacen de nuestro equipo un elemento vital para producir las soluciones competitivas que nuestros clientes necesitan.

      </p>
    </div>
  </div>
  <div class="row gray">
    <div class="medium-12 columns">
      <h1>Nuestras habilidades</h1>

            <ul>
                <li>Arquitectura y diseño de sistemas.</li>
                <li>Desarrolladores.</li>
                <li>Project Management.</li>
                <li>Seguridad</li>
            <li>Infraestructura.</li>
            <li>Manejo de múltiples lenguajes.</li>
            <li>Mejores prácticas del PMI y Agile.</li>
          </ul>

    </div>
  </div>
  <div class="row orange">
    <div class="medium-12 columns">
      <h1>No solo somos proveedores</h1>
      <p>Nos involucramos tanto en los proyectos de cada uno de nuestros clientes, que nos convertimos en socios de cada una de tus ideas.<br/>

Usamos toda nuestra experiencia en cada aspecto del desarrollo de soluciones para asesorarte y hacer tu trabajo más fácil.
</p>
    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1>¿Qué logramos? </h1>
      <p>Cada individuo del equipo de trabajo, conoce el proyecto en su totalidad y de esta forma, cada decisión que toma, contempla el interés común del proyecto.<br/>
Con esto hemos logrado crear equipos de trabajo autosuficientes, que aumentan su productividad, fomentan la comunicación y eliminan impedimentos para lograr que tu proyecto se concrete de acuerdo a lo planeado.

</p>
    </div>
  </div>
  

</div>