<div class="subpage_info" id="team-subpage">
  <div class="row image">
    <div class="medium-12 columns">

      <img class="invertblur" src="img/banners/team.jpg">

      <span class="icon fa fa-users fa-2x"></span> <br/>
			<h1 msg="pages.team.title" ></h1>

    </div>
  </div>
  <div class="row white description">
    <div class="medium-12 columns">
      <h2 msg="pages.team.subtitle"></h2>
      <p msg="pages.team.description"></p>
    </div>
  </div>
  <div class="row gray">
    <div class="medium-12 columns">
      <h1 msg="pages.team.section_1.title"></h1>

          <ul>
            <li msg="pages.team.section_1.list.design"></li>
            <li msg="pages.team.section_1.list.devs"></li>
            <li msg="pages.team.section_1.list.pm"></li>
            <li msg="pages.team.section_1.list.security"></li>
            <li msg="pages.team.section_1.list.infrastructure"></li>
            <li msg="pages.team.section_1.list.multiple_languages"></li>
            <li msg="pages.team.section_1.list.pmi_agile"></li>
          </ul>

    </div>
  </div>
  <div class="row orange">
    <div class="medium-12 columns">
      <h1 msg="pages.team.section_2.title"></h1>
      <p msg="pages.team.section_2.p_1"></p>
      <p msg="pages.team.section_2.p_2"></p>
    </div>
  </div>
  <div class="row white">
    <div class="medium-12 columns">
      <h1 msg="pages.team.section_3.title"> </h1>
      <p msg="pages.team.section_3.p_1"></p>
      <p msg="pages.team.section_3.p_2"></p>
    </div>
  </div>
  

</div>