<div id="contact_us">


  <div class="row">
    <div class="mail_contact medium-6 columns text-center">


      <h2><i class="fa fa-envelope"></i> <span msg="views.contact_us.getintouch"></span></h2>

      <div class="sending_email">
        <h3 msg="commons.sending"></h3>
        <i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
      </div>
      <div class="email_sent">
        <h3 msg="commons.thankyou"></h3>
        <div><i class="fa fa-check"></i> <span msg="views.contact_us.post_sent"></span></div>
      </div>
      <h3 msg="views.contact_us.instructions"></h3>

      <div id="contact_form" method="post">

        <input id="contact_form_name" class="radius" type="text" placeholder="Your full name" required>


        <input id="contact_form_email" class="radius" type="email" placeholder="Your email " required>

        <textarea id="contact_form_msg" class="radius" placeholder="Enter your message here"></textarea>


        <button id="send_btn" type="submit" class="radius button">
          <i class="fa fa-share"> </i> <span msg="commons.send"> </span>
        </button>

      </div>
    </div>

    <div class="medium-6 columns text-center">
      <h2><i class="fa fa-building-o"></i> <span msg="views.contact_us.our_office"></span></h2>

      <h3 msg="views.contact_us.visit_us"></h3>
      <div class="overlay" onClick="style.pointerEvents='none'"></div>
      <div id="map-canvas"></div>
    </div>
  </div>
</div>

<script>

  window.onload = function () {
    var technogi_lat = new google.maps.LatLng(19.333086, -99.199736);

    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: technogi_lat,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);

    var marker = new google.maps.Marker({
      position: technogi_lat,
      map: map,
      title: "Technogi"
    });
  };
</script>