<header id="nav_header" class="hide-for-small">
  <img class="logo" scroll_to="main_container"  src="img/logo_n_t.png">
  <span id="menu_items" class="pull-right">
    <a scroll_to="main_content_footer" class="menu_item" href="#" msg="views.header.services"></a> |
    <a scroll_to="how_we_do" class="menu_item" href="#" msg="views.header.methodology"></a> |
    <a scroll_to="contact_us" class="menu_item" href="#" msg="views.header.contact"></a> |
    <a scroll_to="more" class="menu_item" href="#" ><i class="fa fa-plus"></i></a>
  </span>
  <!--select class="language_selector">
  	<option msg="lang.select">language</option>
  	<option msg="lang.spanish" value="es">Español</option>
  	<option msg="lang.english" value="en">English</option>
  </select-->
  <div class="lang_select_div">
    <button id="es_lang_btn" class="btn tiny  warning">ES</button>
    <button id="en_lang_btn" class="btn tiny  warning">EN</button>
  </div>
</header>
