<header id="nav_header" class="hide-for-small">
  <img  src="img/logo_n_t.png">
  <span id="menu_items" class="pull-right">
    <a scroll_to="main_content_footer" class="menu_item" href="#" msg="views.header.services"></a> |
    <a scroll_to="how_we_do" class="menu_item" href="#" msg="views.header.methodology"></a> |
    <a scroll_to="contact_us" class="menu_item" href="#" msg="views.header.contact"></a> |
    <a scroll_to="more" class="menu_item" href="#" ><i class="fa fa-plus"></i></a>
  </span>

</header>