<div class="hide-for-small-down" id="main_content">

  <h1>Modern IT Consulting Services</h1>

  <h2>Focus on your business, we do the rest</h2>

  <div class="super_icon">
  </div>
</div>
<div id="main_content_footer" class="hidden-for-small-down">
  <div class="row">
    <div class="medium-12 columns">
      <h1>
        OUR SERVICES
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 large-3 columns">
      <div class="technogi_panel">
        <a href="#">

          <div class="icon">
            <i class="fa fa-3x fa-group"></i>
          </div>
          <h3>IT Consulting</h3>
        </a>

        <p class="service_description">
          Lorem ipsum dolor sit amet, id regione impedit definitiones usu, velit persius percipit no duo.
        </p>
        <button class="button small warning">learn more</button>
      </div>

    </div>
    <div class="medium-3 large-3 columns">
      <div class="technogi_panel">
        <a href="#">

          <div class="icon ">
            <i class="fa fa-3x fa-laptop"></i>
          </div>
          <h3>Software Development</h3>
        </a>

        <p class="service_description">
          Mel eros inimicus in, te ipsum virtute eam, vel ea hinc mazim. Percipit mandamus philosophia no est.
        </p>
        <button class="button small warning">learn more</button>
      </div>
    </div>
    <div class="medium-3 large-3 columns">
      <div class="technogi_panel">
        <a href="#">
          <div class="icon">
            <i class="fa fa-3x fa-cloud"></i>
          </div>
          <h3>Cloud Consulting</h3>
        </a>

        <p class="service_description">
          Cu ius noster nostro, ius at aliquip docendi. Has an adhuc legere equidem, ex noster consetetur has.
        </p>
        <button class="button small warning">learn more</button>

      </div>
    </div>
    <div class="medium-3 large-3 columns">
      <div class="technogi_panel">
        <a href="#">
          <div class="icon ">
            <i class="fa fa-3x fa-paper-plane"></i>
          </div>
          <h3>Proof of Concepts</h3>
        </a>

        <p class="service_description">
          Nam noluisse iracundia cu. An percipit dissentias sit, et vix accusata abhorreant, tollit scaevola disputando
          vis ad.

        </p>
        <button class="button small warning">learn more</button>
      </div>
    </div>
  </div>
</div>