<div class="hide-for-small-down" id="main_container">

  <div class="hide-for-small-down" id="main_content">

    <h1 msg="views.main.h1"></h1>

    <h2 msg="views.main.h2"></h2>

    <div class="super_icon">
    </div>
  </div>
  <div id="main_content_footer" class="hidden-for-small-down">
    <div class="row">
      <div class="medium-12 columns">
        <h1 msg="views.services.h1">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 large-3 columns">
        <div class="technogi_panel">
          <a href="#">

            <div class="icon">
              <i class="fa fa-3x fa-group"></i>
            </div>
            <h3 msg="views.services.consulting.title"></h3>
          </a>

          <p class="service_description" msg="views.services.consulting.description">
          </p>
          <button class="service_btn button small warning">learn more</button>
        </div>

      </div>
      <div class="medium-3 large-3 columns">
        <div class="technogi_panel">
          <a href="#">

            <div class="icon ">
              <i class="fa fa-3x fa-laptop"></i>
            </div>
            <h3>Software Development</h3>
          </a>

          <p class="service_description">
            Mel eros inimicus in, te ipsum virtute eam, vel ea hinc mazim. Percipit mandamus philosophia no est.
          </p>
          <button class="service_btn button small warning">learn more</button>
        </div>
      </div>
      <div class="medium-3 large-3 columns">
        <div class="technogi_panel">
          <a href="#">
            <div class="icon">
              <i class="fa fa-3x fa-cloud"></i>
            </div>
            <h3>Cloud Consulting</h3>
          </a>

          <p class="service_description">
            Cu ius noster nostro, ius at aliquip docendi. Has an adhuc legere equidem, ex noster consetetur has.
          </p>
          <button class="service_btn button small warning">learn more</button>

        </div>
      </div>
      <div class="medium-3 large-3 columns">
        <div class="technogi_panel">
          <a href="#">
            <div class="icon ">
              <i class="fa fa-3x fa-paper-plane"></i>
            </div>
            <h3>Proof of Concepts</h3>
          </a>

          <p class="service_description">
            Nam noluisse iracundia cu. An percipit dissentias sit, et vix accusata abhorreant, tollit scaevola
            disputando
            vis ad.

          </p>
          <button class="service_btn button small warning">learn more</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h2>
          Focus on what matters... Your Business
        </h2>
      </div>
    </div>
  </div>
</div>