<div class="hidden-for-medium-up" id="mobile_main_content">

  <ul>
    <li>
      <button show="consulting" class="mobile-btn">
        <i class="fa fa-3x fa-users"></i>

        <div>IT Consulting</div>
      </button>
    </li>
    <li>
      <button show="development" class="mobile-btn">
        <i class="fa fa-3x fa-laptop"></i>

        <div>Software Development</div>
      </button>
    </li>
  </ul>


  <ul>
    <li>
      <button show="cloud" class="mobile-btn">
        <i class="fa fa-3x fa-cloud"></i>

        <div>Cloud Consulting</div>
      </button>
    </li>
    <li>
      <button show="poc" class="mobile-btn">
        <i class="fa fa-3x fa-paper-plane"></i>

        <div>Proof of Concept</div>
      </button>
    </li>
  </ul>
  <button scroll_to="contact_us" class="big-mobile-btn">
    <i class="fa fa-2x fa-envelope"></i> <span msg="views.header.contact"></span>
  </button>
</div>


