<div class="hidden-for-medium-up" id="mobile_main_content">

  <ul>
    @@include('mobile_main_item.html',{"title":"consulting","icon":"users"})
    @@include('mobile_main_item.html',{"title":"software_development","icon":"laptop"})
  </ul>
  <ul>
    @@include('mobile_main_item.html',{"title":"cloud","icon":"cloud"})
    @@include('mobile_main_item.html',{"title":"project_shaping","icon":"th-large"})
  </ul>
  <button scroll_to="contact_us" class="big-mobile-btn">
    <i class="fa fa-2x fa-envelope"></i> <span msg="views.header.contact"></span>
  </button>
</div>


