<div id="mobile-header" class=" hide-for-medium-up">
  <div id="mobile_header_img">
    <img src="img/logo_ow_t.png" style="">
  </div>
  <div class="mobile_menu_items">

    <a class="menu_item" href="#" scroll_to="mobile_main_content" msg="views.header.services"></a> |
    <a class="menu_item" href="#" scroll_to="how_we_do" msg="views.header.methodology"></a> |
    <a class="menu_item" href="#" scroll_to="contact_us" msg="views.header.contact"></a> |
    <a class="menu_item" href="#" scroll_to="more"><i class="fa fa-plus"></i></a>
  </div>
  <!--select class="language_selector">
    <option msg="lang.select">language</option>
    <option msg="lang.spanish" value="es">Español</option>
    <option msg="lang.english" value="en">English</option>
  </select-->

  <div id="mobile_back_btn"><i class="fa fa-arrow-left"></i>&nbsp;<span msg="pages.back"></span></div>

</div>