<div class="hidden-for-medium-up" id="mobile_main_content">

  <ul>
    <li>
      <button class="mobile-btn">
        <i class="fa fa-3x fa-users"></i>

        <div>IT Consulting</div>
      </button>
    </li>
    <li>
      <button class="mobile-btn">
        <i class="fa fa-3x fa-laptop"></i>

        <div>Software Development</div>
      </button>
    </li>
  </ul>


  <ul>
    <li>
      <button class="mobile-btn">
        <i class="fa fa-3x fa-cloud"></i>

        <div>Cloud Consulting</div>
      </button>
    </li>
    <li>
      <button class="mobile-btn">
        <i class="fa fa-3x fa-paper-plane"></i>

        <div>Proof of Concept</div>
      </button>
    </li>
  </ul>
  <button class="big-mobile-btn">
    <i class="fa fa-2x fa-envelope"></i>

    GET IN TOUCH
  </button>
</div>


