<footer id="more">
  <div class="sub-footer">
    <div class="row">
      <div class="medium-6 columns">
        <p msg="views.about_us.summary"></p>
      </div>
      <div class="medium-2 columns"></div>
      <div class="medium-4  columns">
        <div class="social-container">
          <a target="_blank" href="https://technogi.github.io/"><i class="fa fa-github"></i></a>
          <a target="_blank" href="https://www.facebook.com/Technogi"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/technogimx"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="http://moggworkshop.blogspot.mx/"><i class="fa fa-wordpress"></i></a>
          <!--<a target="_blank" href="http://pinterest.com/technogi"><i class="fa fa-pinterest"></i></a>-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="medium-8 columns">
      <p><img src="img/logo_footer.png" width="100"> &nbsp;&nbsp;© 2014 by Technogi Desarrollo y Consultoría de Software S.
        de R.L.
        de C.V.</p>
    </div>
    <div class="medium-4 columns text-right">
      <a target="_blank" href="./aviso_privacidad.html" msg="views.footer.privacy_policy"></a>
    </div>

  </div>

</footer>