<footer>
  <div class="sub-footer">
    <div class="row">
      <div class="medium-8 columns">
        <p data-i18n>[html]about_us.summary</p>
      </div>
      <div class="medium-4  columns">
        <div class="social-container">
          <a target="_blank" href="https://technogi.github.io/"><i class="fa fa-github"></i></a>
          <a target="_blank" href="https://www.facebook.com/Technogi"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/technogimx"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="http://moggworkshop.blogspot.mx/"><i class="fa fa-wordpress"></i></a>
          <a target="_blank" href="http://pinterest.com/technogi"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-8 columns">
          <p><img src="img/logo_b_t_300_g.png" width="100"> © 2014 by Technogi Desarrollo y Consultoría de Software S.
            de R.L.
            de C.V.</p>
        </div>
        <div class="large-4 columns">
          <ul class="inline-list right">
            <li>
              <a href="#">Link 1</a>
            </li>
            <li>
              <a href="#">Link 2</a>
            </li>
            <li>
              <a href="#">Link 3</a>
            </li>
            <li>
              <a href="#">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>