@@include('./subpages/software-development.html')

@@include('./subpages/project-landing.html')

@@include('./subpages/consultoria.html')

@@include('./subpages/cloud.html')

@@include('./subpages/philosophy.html')

@@include('./subpages/team.html')

@@include('./subpages/methodology.html')

<div class="contact-container">
	<div class="row gray">
		<div class="medium-12 columns">
			<h1 msg="pages.contact.need_info"></h1>
			<center>
				<button msg="pages.contact.contact_us" scroll_to="contact_us" class="button large warning radius"></button>
			</center>
			</div>
	</div>
</div>

<footer style="height:60px;padding-top:10px" id="more">
		  <div class="row">
		    <div class="medium-8 columns">
		      <p><img src="img/logo_footer.png" width="100"> &nbsp;&nbsp;© 2014 by Technogi Desarrollo y Consultoría de Software S.
		        de R.L.
		        de C.V.</p>
		    </div>
		    <div class="medium-4 columns text-right">
		      <a target="_blank" href="./aviso_privacidad.html" msg="views.footer.privacy_policy"></a>
		    </div>

		  </div>

	</footer>


