<div id="back_btn" class="back"><i class="fa fa-arrow-left"></i>&nbsp;REGRESAR</div>

<br/><br/><br/>
<div id="layout_text" class="row layout">
	<div class="medium-12 columns">
		<div class="row">
			<div class="medium-12 columns">
				<div class="title-box">
					<h1 id="title"></h1>
				</div>
				<h2 id="subtitle"></h2>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<div id="description"></div>
			</div>
		</div>
		
	</div>
</div>

<div id="layout_text-image" class="row layout">
	<div class="medium-12 columns">
		<div class="row">
			<div class="medium-12 columns">
				<div class="title-box">
					<h1 id="title"></h1>
				</div>
				<h2 id="subtitle"></h2>
			</div>
		</div>
		<div class="row">
			<div class="medium-9 columns">
				<div id="description"></div>
			</div>
			<div class="medium-3 columns">
				<img id="image"/>
			</div>
		</div>
	</div>
</div>



