<div id="how_we_do">
  <div class="row">
    <div class="medium-12 columns text-center">
      <h1 msg="views.our_way.h1"><span></span> <span style="display: inline-block">what we do</span></h1>
    </div>
  </div>
  <div class="row philosophy_row">
    <div class="medium-6 large-4 columns ">
      @@include('philosophy_tile.html',{"title":"philosophy","icon":"institution"})
    </div>

    <div class="medium-6 large-4 columns">
      @@include('philosophy_tile.html',{"title":"team","icon":"user"})
    </div>

    <div class="medium-6 large-4 columns">
      @@include('philosophy_tile.html',{"title":"methodology","icon":"book"})
    </div>
  </div>
</div>
