<div id="how_we_do">
  <div class="row">
    <div class="medium-12 columns text-center">
      <h1 data-i18n><span>How we do</span> <span style="display: inline-block">what we do</span></h1>
    </div>
  </div>
  <div class="row philosophy_row">
    <div class="medium-4 columns medium-text-right small-text-center">
      <h3><i class="fa fa-graduation-cap"></i> our philosophy</h3>
    </div>
    <div class="medium-8 columns">
      <div class="philosophy_desc">

        <p>
          Nos caracterizamos por realizar investigación sobre nuevas tecnologías y formas de resolver los
          problemas.
          Llevamos los resultados de la investigación a la práctica, creando productos propios que nos permitan entender
          la tecnología que se está creando. Una vez que somos especialistas, implantamos las soluciones con nuestros
          clientes.
        </p>

        <p>Lo anterior nos permite proveer a nuestros clientes con un catálogo extenso de posibilidades para convertir
          sus
          ideas en soluciones.</p>
      </div>
    </div>

  </div>
  <div class="row philosophy_row">

    <div class="medium-4 columns medium-text-right small-text-center">
      <h3><i class="fa fa-users"></i> the team</h3>
    </div>
    <div class="medium-8 columns">
      <div class="philosophy_desc">

        <p>Todavía no sé si ponerlo a nivel genérico o ya ponerle nombre y apellido. Podríamos poner Avatars en lugar de
          fotos (por seguridad de nosotros). Por ejemplo algo así se puede hacer enTodavía no sé si ponerlo a nivel
          genérico o ya ponerle nombre y apellido. Podríamos poner Avatars en lugar de
          fotos (por seguridad de nosotros). Por ejemplo algo así se puede hacer enTodavía no sé si ponerlo a nivel
          genérico o ya ponerle nombre y apellido. Podríamos poner Avatars en lugar de
          fotos (por seguridad de nosotros). Por ejemplo algo así se puede hacer en </p>
      </div>
    </div>

  </div>
  <div class="row philosophy_row">

    <div class="medium-4 columns medium-text-right small-text-center">
      <h3><i class="fa fa-book"></i> methodology</h3>
    </div>
    <div class="medium-8 columns">
      <div class="philosophy_desc">

      <p>Utilizamos las mejores prácticas del PMI y metodologías de desarrollo ágil. Con esto logramos tener células de
        desarrollo autosuficientes que logran:</p>
      <ul>
        <li>Conocer al cliente de manera muy cercana.</li>
        <li>Mejora la comunicación.</li>
        <li>Aumenta la productividad.</li>
      </ul>

      <p>Minimizamos el riesgo, haciendo un análisis preliminar de la solución requerida, tratando de anticipar
        cualquier
        complicación. Este riesgo se mitiga:</p>
      <ul>
        <li>Realizando validaciones de viabilidad técnica.</li>
        <li>Levantamiento de requerimientos.</li>
        <li>Revisión de Procesos de negocio.</li>
        <li>Entrevistas con sponsors.</li>
      </ul>
      <p>Aun así sabemos que es difícil prever todas las complicaciones, por lo cual nos mantenemos flexibles al cambio.
        Aquí es donde entra la parte ágil, donde respondemos a las nuevas necesidades del proyecto, en tiempo real.</p>

    </div></div>

  </div>
</div>
