<div id="why_us_pane">
  <div class="content">
    <div class="row">
      <div class="small-12 columns">
        <h1>This is why our clients love us</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns display">
        <div class="display-element ">
          <h2>
            Client's Satisfaction
          </h2>

          <p>
            100% de nuestros clientes han realizado un segundo proyecto con nosotros.
          </p>
        </div>

        <div class="display-element ">
          <h2>
            Compromise
          </h2>

          <p>
            100% de nuestros clientes nos ven como un socio más de su proyecto.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>