<div id="why_us_pane">
  <div class="row">
    <div class="small-12 columns">
      <h1>This is why our clients love us</h1>
    </div>
  </div>
  <div class="row">
    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Client's Satisfaction",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Compromise",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Delivery on Time",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Risk Management",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Experience",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Productivity",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Visibility",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })

    @@include('./reason.html', {
    "icon": "smile-o",
    "title": "Top of the Notch Team",
    "description": "100% de nuestros clientes han realizado un segundo proyecto con nosotros."
    })
  </div>
</div>
