<div id="why_us_pane">
  <div class="content">
    <div class="row">
      <div class="small-12 columns">
        <h1 msg="views.love_us.h1"></h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns display">
        @@include('love_display.html',{"index":"1"})
        @@include('love_display.html',{"index":"2"})
        @@include('love_display.html',{"index":"3"})
        @@include('love_display.html',{"index":"4"})
        @@include('love_display.html',{"index":"5"})
        @@include('love_display.html',{"index":"6"})
      </div>
    </div>
  </div>
</div>