<div id="main_banner">

<ul data-orbit>
  <li data-orbit-slide="headline-1">
    <div id="anim-phase1" class="main_banner_container text-center">
      <h1 id="anim-phase1-step1" style="display: none">WHY TECHNOGI...</h1>
      <h1 id="anim-phase1-step2" style="display: none"><i class="fa fa-3x fa-question"></i></h1>

    </div>
    </li>
  <li data-orbit-slide="headline-1">
    <div class="main_banner_container row">
      <div class="medium-8 columns">
        <h2>Alto índice de Satisfacción</h2>
        <h3>100% de nuestros clientes han realizado un segundo proyecto con nosotros.</h3>
      </div>
      <div class="medium-4 columns text-center hide-for-small-down">
        <img src="img/imac_brownie_1-0338e2b994e3caa19353a9c947e3976d.png">
      </div>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="main_banner_container row">
      <div class="medium-8 columns">
        <h2>Compromiso Total</h2>
        <h3>100% de nuestros clientes nos ven como un socio más de su proyecto.</h3>
      </div>
      <div class="medium-4 columns text-center hide-for-small-down">
        <br>
        <i class="fa fa-4x fa-check"></i>
      </div>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="main_banner_container row">
      <div class="medium-8 columns">
        <h2>Riesgo Minimizado</h2>
        <h3>Anticipamos los riesgos y respondemos de manera ágil para resolver cualquier problema que se presente durante la ejecución del proyecto.</h3>
      </div>
      <div class="medium-4 columns text-center hide-for-small-down">
        <br>
        <i class="fa fa-4x fa-check"></i>
      </div>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="main_banner_container row">
      <div class="medium-8 columns">
        <h2>Productividad</h2>
        <h3>Utilizamos las tecnologías y técnicas más modernas, con las cuales logramos incrementar nuestra capacidad de trabajo, mejorar la comunicación y entregar soluciones optimizando tiempos y costos..</h3>
      </div>
      <div class="medium-4 columns text-center hide-for-small-down">
        <br>
        <i class="fa fa-5x fa-rocket"></i>
      </div>
    </div>
  </li>
</ul>

</div>
<!--div id="animation1" class="animation">
  <i style="top:10px; left: 28px; position: relative" id="banner-a1-cog1" class="fa fa-spin fa-cog"></i>

  <i id="banner-a1-cog-main" class="fa fa-counter-spin fa-cog"></i>
  <i id="banner-a1-cog3" class="fa fa-spin fa-cog"></i>
  <i id="banner-a1-cog4" class="fa fa-spin fa-cog"></i>
  <i class="fa fa-tachometer"></i>
  <i class="fa fa-send-o"></i>
  <i class="fa fa-tasks"></i>
  <i class="fa fa-users"></i>
  <i class="fa fa-wifi"></i>
  <i class="fa fa-cloud"></i>
  <i class="fa fa-cloud-download"></i>
  <i id="banner-a1-wrench" class="fa-rotate-90 fa fa-wrench"></i>

</div-->