<div id="services">
  <br>

  <div class="row">
    <div class="medium-12 columns text-center">
      <h2>WHAT WE DO</h2>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-3 medium-6 small-12 columns  t-panel">
      <center>
        <div class="circle">
          <i class="fa fa-binoculars"></i>
        </div>
      </center>
      <div>
        <h4>Project Landing</h4>

        <p>
          Es un servicio especializado en convertir una idea a una solución de software disminuyendo el riesgo y
          proporcionando una visión completa sobre los recursos, tiempos y costos que requiere el proyecto para ser un
          éxito. Ideal para proyectos complejos, ideas innovadoras, startups, soluciones a gran escala.
        </p>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 columns t-panel">
      <center>
        <div class="circle">
          <i class="fa fa-users"></i>
        </div>
      </center>
      <div>
        <h4>IT Consulting Services</h4>

        <p>
          Brindamos asesoría en todos los ámbitos de una solución, levantamiento de requerimientos, análisis, diseño y
          arquitectura, desarrollo, pruebas, instalación, elección de infraestructura, entre otros.
        </p>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 columns t-panel">
      <center>
        <div class="circle">
          <i class="fa fa-tasks"></i>
        </div>
      </center>
      <div>
        <h4>Software Development</h4>

        <p>
          Desarrollamos aplicaciones web y móviles, integración de sistemas, desarrollo de componentes de negocio.
          Trabajamos en modalidad por proyecto de consultoría o como fábrica de software utilizando las mejores
          prácticas de PMI y Desarrollo ágil.
        </p>
      </div>
    </div>
    <div class="large-3 medium-6 small-12 columns t-panel">
      <center>
        <div class="circle">
          <i class="fa fa-cloud"></i>
        </div>
      </center>
      <div>
        <h4>Cloud Consulting</h4>

        <p>
          Asesoría especializada para sacar el mejor provecho a las capacidades que ofrece la nube. Analizamos la
          infraestructura actual, definimos mapa de ruta para migración a la nube, validación del nivel de
          compatibilidad de las aplicaciones actuales con la nube, elección del mejor proveedor, entre otros.
        </p>
      </div>
    </div>
  </div>
</div>